.todo-table {
    .input-table {
        display: flex;
        align-items: stretch;
        margin-bottom: 10px;

        .search-box {
            flex: 1;
        }

        .btn-add-box {
            min-width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;

            button {
                width: 100%;
                height: 100%;
            }
        }
    }

    .loading-box {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
