.todo-table {
    .btn-add-box {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .loading-box {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
